:root {
    --hover-color: #2E3951;
    --azul: #1976d2;
    --nc-color:  #00AEEF;
}
  
body {
    background-color: gainsboro;
    height: 100vh;
    margin: 0;
}

.navbar {
    z-index: 1040;
}

.side-nav {
    margin-top: 57px !important;
}

.button-collapse {
    display: none !important;
}

.grafico {
    width: 100%;
    height: 300px;
}


.info-solicitud span {
    display: block;
    margin: 1rem 0;
    font-size: 1rem;
}

.info-solicitud span i {
    width: 24px;
    font-size: 1.2rem;
}

.info-solicitud span b {
    color: var(--nc-color);
}

span.estado-solicitud {
    display: inline;
    background-color: red;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
}

span.estado-solicitud-1 {
    background-color: #FFEE58 !important;
}

span.estado-solicitud-2 {
    background-color: #FFCA28 !important;
}

span.estado-solicitud-3 {
    background-color: #EF5350 !important;
}

span.estado-solicitud-4 {
    background-color: #66BB6A !important;
}

.icono-tipo-sol {
    font-size: 2.5rem;
    color: var(--nc-color);
}

.tipo-solicitud {
    transition: all 250ms ease-out;
    height: 170px !important;
}

.tipo-solicitud:hover {
    transform: scale(105%);
}

.btn.btn-default {
    color: #fff !important;
}

@media (min-width: 1000px) {
    .fixed-sn main {
        margin-left: 10% !important;
        margin-right: 5% !important;
    }
}


@media (min-width: 1200px) {

    .fixed-sn main {
        margin-left: 20% !important;
        margin-right: 5% !important;
    }
}

@media(max-width: 1000px) {
    .button-collapse {
        display: block !important;
    }
}