@font-face {
  font-family: 'museo_sans_300regular';
  src: url('museo-sans-300-webfont.woff2') format('woff2'),
    url('museo-sans-300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --hover-color: #2E3951;
  --azul: #1976d2;
  --nc-color:  #00AEEF;
}


html,
body {
  height: 100vh;
}

nav ul li {
  font-family: 'museo_sans_300regular';
}

.slideAlc {

  padding-top: 100px;
  height: 560px;
}

.title-section {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: double;
  border-color: #221C42;
}

.title-section-dark {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: white;
  padding-bottom: 5px;
  border-bottom: double;
  border-color: white;
}


.title-section-cyan {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  /* color: white; */
  padding-bottom: 5px;
  border-bottom: double;
  border-color: #212839;
}

nav {
  background-color: #11151d !important;
}

.cyan-bg, body {
  background-color: #2E3951;
}

.title-section2 {
  background-color: #303845;
  padding: 3rem 2rem;
}

.card-servicio {
  width: 330px;
  height: 210px;
  align-items: center;
  transition: transform 175ms ease-out;
}

.card-servicio:hover {
  transform: scale(1.1);
}


.card-servicio div {
  width: 100%;
  height: 100%;
}

.logoSvg {
  width: 80px;
  animation: loader 1.5s;
  transition: transform 1s ease-in-out;
}

.logoSvg:hover {
  transform: rotate(360deg);
}

.logo-footer {
  background-color: white;
  border-radius: 50%;
}

.btn-blue:hover {
  background-color: var(--hover-color) !important;
}

.btn-info:hover {
  background-color: var(--azul) !important;
}

.nc-color {
  background-color: var(--nc-color) !important;
}

.icono-red-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0.7rem;
  transition: all 300ms ease-in;
}

.icono-red-social i {
  font-size: 1.3rem;
}

.icono-red-social:hover {
  filter: brightness(80%);
}

.fb-color {
  background-color: #3b5998 !important; 
}

.tw-color {
  background-color: #226699 !important;
}

.ig-color {
  background-color: #ac2bac !important;
}


@keyframes loader {
  0% {
    rotate: 0deg;

  }

  50% {
    width: 90px;
  }

  100% {
    border-radius: 50%;
    rotate: 180deg;
  }
}

.contenedor-mapa {
  width: 100%;
}

.mapa {
  width: 100%;
  min-height: 360px;
  height: auto;
}

.altura-contacto {
  min-height: 400px !important;
  height: auto;
}

.slidemovil {
  display: none !important
}

.mt-menu {
  margin-top: 114px !important;
}

.mt-menu-2 {
  margin-top: 10rem !important;
}

.contenedor-servicios {
  padding: 4rem 2rem;
  background-color: var(--hover-color);
  background-image: url('../img/clinica-nc.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.fondo {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: var(--hover-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.fondo::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.zindex {
  position: relative;
  z-index: 2;
}

.card-header {
  background: rgb(48, 114, 149);
  background: linear-gradient(315deg, rgba(48, 114, 149, 1) 10%, rgba(41, 90, 190, 1) 92%);
  color: white;
}

/* Login */
.contenedor-vista-login {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hover-color);
  background-image: url(../img/servicioslinea/biblioteca.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.contenedor-vista-login::after {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.65);
  z-index: 1;
}

.contenedor-login {
  width: 100%;
  max-width: 550px;
  padding: 3rem;
  position: relative;
  z-index: 2;
}

.titulo-login {
  font-size: 1.9rem;
}

.mi-error {
  font-size: 80%;
  color: #dc3545;
  margin-top: -1rem;
}

.text-left {
  text-align: left !important;
}

.espacio {
  width: 100%;
  height: 70px;
}

/* Páginas de contribuyentes */
.dataTables_length label, .dataTables_filter label, .dataTables_info, .dataTables_paginate a{
  color: #fff !important;
}

.page-link:hover {
  color: #2196f3!important;
}

.info-solicitud span {
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.info-solicitud span b {
  color: var(--nc-color);
}

.icono-solicitud {
  font-size: 1.7rem;
  color: var(--nc-color);
}

span.estado-solicitud {
  display: inline;
  background-color: red;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
}

span.estado-solicitud-1 {
  background-color: #FFEE58 !important;
}

span.estado-solicitud-2 {
  background-color: #FFCA28 !important;
}

span.estado-solicitud-3 {
  background-color: #EF5350 !important;
}

span.estado-solicitud-4 {
  background-color: #66BB6A !important;
}

.icono-tipo-sol {
  font-size: 2.5rem;
  color: var(--nc-color);
}

.tipo-solicitud {
  transition: all 250ms ease-out;
  height: 170px !important;
}

.tipo-solicitud:hover {
  transform: scale(105%);
}

@media screen and (max-width: 900px) {

  #carousel-example-2 {
    display: none;
  }

  .section1 {
    margin-top: 120px;
  }

}

