@font-face {
  font-family: 'museo_sans_300regular';
  src: url('museo-sans-300-webfont.woff2') format('woff2'),
       url('museo-sans-300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


html,
body{
  height: 100vh;
}
nav ul li{
    font-family: 'museo_sans_300regular';}

.slideAlc{

  padding-top:100px;
  height: 560px;
}
.title-section{
  font-family: 'Lato', sans-serif;  
  font-weight: 600;
padding-bottom: 5px;
border-bottom: double;
  border-color: #221C42;
 



}
.title-section-dark{
  font-family: 'Lato', sans-serif;  
  font-weight: 600;
  color: white;
  padding-bottom: 5px;
  border-bottom: double;
  border-color: white;

}


.title-section-cyan{
  font-family: 'Lato', sans-serif;  
  font-weight: 600;
  /* color: white; */
  padding-bottom: 5px;
  border-bottom: double;
  border-color: #2E3951;

}
.cyan-bg{
  background-color: #2E3951;
}


.card{
  width: 330px;
  height: 210px;
  align-items: center;
  transition: transform 0.7s;
}
.card:hover{
  transform:  scale(1.1);
}


.card div{
  width: 100%;
  height: 100%;
}
.logoSvg{
  width: 80px;
  animation: loader 1.5s;
  transition: transform 2s;
}
.logoSvg:hover{
  transform: rotate(360deg);
}
.logo-footer{
  background-color: white;
  border-radius: 50%;


}


@keyframes loader {
  0% {
    rotate: 0deg;
    
  }
  50%{
    width: 90px;
  }
  100% {
    border-radius: 50%;
    rotate: 180deg;
  }
}
.mapa{
  overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;
}
.mapa iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}


.slidemovil{

  display:none !important
}
@media screen and (max-width: 900px) {

  #carousel-example-2{display: none;}

  .section1{
    margin-top: 120px;
  }
 
}
